<ion-header>
  <ion-toolbar>
    <ion-title>Detalles del Curso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="curso">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ curso.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img [src]="curso.imagen" alt="{{ curso.nombre }}" class="curso-imagen" />
        <p><strong>Descripción:</strong> {{ curso.descripcion ? curso.descripcion : 'No disponible' }}</p>
        <p><strong>Profesor:</strong> {{ curso.usuario.nombre_completo }}</p>
        <img [src]="curso.usuario.img" alt="{{ curso.usuario.nombre }}" class="usuario-imagen" />
        <p><strong>Correo:</strong> {{ curso.usuario.correo }}</p>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="!curso">
    <p>No se encontraron datos del curso.</p>
  </div>
</ion-content>
