<ion-header>


  <!-- Navbar en la parte superior usando ion-segment -->
  <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChange($event)">
    <ion-segment-button value="mi-espacio">
      <ion-label>Mi espacio</ion-label>
    </ion-segment-button>

    <ion-segment-button value="editar">
      <ion-label>Editar</ion-label>
    </ion-segment-button>

    <ion-segment-button value="matricula">
      <ion-label>Matrícula</ion-label>
    </ion-segment-button>

    <ion-segment-button value="clases">
      <ion-label>Clases</ion-label>
    </ion-segment-button>

    <ion-segment-button value="calendario">
      <ion-label>Calendario</ion-label>
    </ion-segment-button>

    <ion-segment-button value="anuncios">
      <ion-label>Anuncios</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <div *ngIf="curso">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ curso.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img [src]="curso.imagen" alt="{{ curso.nombre }}" class="curso-imagen" />
        <p><strong>Descripción:</strong> {{ curso.descripcion ? curso.descripcion : 'No disponible' }}</p>
        <p><strong>Profesor:</strong> {{ curso.usuario.nombre_completo }}</p>
        <img [src]="curso.usuario.img" alt="{{ curso.usuario.nombre }}" class="usuario-imagen" />
        <p><strong>Correo:</strong> {{ curso.usuario.correo }}</p>
      </ion-card-content>
    </ion-card>
  </div>


  <!-- Mostrar contenido basado en el segmento seleccionado -->
  <div [ngSwitch]="selectedSegment">
    <div *ngSwitchCase="'mi-espacio'">Contenido de Mi Espacio</div>
    <div *ngSwitchCase="'editar'">Contenido de Editar</div>
    <div *ngSwitchCase="'matricula'">Contenido de Matrícula</div>
    <div *ngSwitchCase="'clases'">Contenido de Clases</div>
    <div *ngSwitchCase="'calendario'">Contenido de Calendario</div>
    <div *ngSwitchCase="'anuncios'">Contenido de Anuncios</div>
  </div>
</ion-content>
