<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Docente</ion-title>
    <ion-buttons slot="end">
      <!-- Botón de menú de perfil -->
      <ion-menu-button></ion-menu-button>
      <ion-avatar (click)="openMenu()">
        <ion-icon name="person-circle-outline" class="profile-icon"></ion-icon>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Menú de perfil -->
<ion-menu side="end" contentId="main-content" id="profile-menu">
  <ion-header>
    <ion-toolbar>
      <ion-title>Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item [routerLink]="['/clases']">
        <ion-icon name="school-outline" slot="start"></ion-icon>
        Secciones
      </ion-item>
      <ion-item [routerLink]="['/evaluaciones']">
        <ion-icon name="document-outline" slot="start"></ion-icon>
        Evaluaciones
      </ion-item>
      <ion-item [routerLink]="['/asistencia']">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        Asistencia
      </ion-item>
      <ion-item [routerLink]="['/reportes']">
        <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
        Reportes
      </ion-item>

      <ion-item (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        Cerrar Sesión
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content [fullscreen]="true" class="content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <h3>Bienvenido, {{ username }}</h3>

  <div class="icon-grid">
    <ion-card class="icon-card" (click)="viewClasses()">
      <ion-icon name="school-outline" class="icon"></ion-icon>
      <h4>Secciones</h4>
    </ion-card>
    <ion-card class="icon-card" (click)="viewEvaluations()">
      <ion-icon name="document-outline" class="icon"></ion-icon>
      <h4>Evaluaciones</h4>
    </ion-card>
    <ion-card class="icon-card" (click)="viewAttendance()">
      <ion-icon name="calendar-outline" class="icon"></ion-icon>
      <h4>Asistencia</h4>
    </ion-card>
    <ion-card class="icon-card" (click)="viewReports()">
      <ion-icon name="bar-chart-outline" class="icon"></ion-icon>
      <h4>Reportes</h4>
    </ion-card>
    <ion-card class="icon-card">
      <ion-icon name="chatbubbles-outline" class="icon"></ion-icon>
      <h4>Mensajes</h4>
    </ion-card>
    <ion-card class="icon-card">
      <ion-icon name="mail-outline" class="icon"></ion-icon>
      <h4>Email</h4>
    </ion-card>
    <ion-card class="icon-card">
      <ion-icon name="settings-outline" class="icon"></ion-icon>
      <h4>Ajustes</h4>
    </ion-card>
  </div>
</ion-content>
